{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}


{{this.registerJs("CardController();")}}


{% set limit = 18 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set popularArticles = _Article.getPopularArticles({ limit: 10, sortBy: 'VIEWS', interval: 48, scope: 'network' }) %}



{% set events = _Event.getEvents() %}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}



{% set sections =  {
        "social field": {
            "feed": "",
            "link": "",
            "limit" : 12
        }, 
        "afl": {
            "feed": "",
            "link": "",
            "limit" : 4
        },
        "nrl": {
            "feed": "",
            "link": "",
            "limit" : 4
        }, 
        "football": {
            "feed": "",
            "link": "",
            "limit" : 4
        }
    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.url
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}











    <main id="main" class="site-main" role="main">
        
        <div class="container">

            <section class="home-main-stories">
                

                <div class="row">
                    
                    <div class="col-sm-9 col-md-6">

                        <!-- main article -->
                        <!-- Card 1 -->
                        {% if articles[articleCount] %}                                                          
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:630, height:413},
                                containerClass: 'home-feature home-feature-tablet home-feature-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                        {% endif %}

                    </div>



                    <!-- display five stories & CTA for desktop / mobile -->
                    {% if articles[articleCount] %}
                    <div class="col-xs-9 col-sm-9 col-md-3 feature-side-panel">
                        <hr class="divide10 visible-xs-block visible-sm-block" style="clear:both">

                        <div class="row">

                            <!-- Desktop Card 3-7 -->
                            {% for i in 0..4 if articles[i] %}
                                <div class="col-sm-4 col-md-9">
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        position: articleCount + 1,
                                        imageSize: {width:300},
                                        containerClass: 'feature-side feature-side-tablet feature-side-mobile'
                                    }) | raw}}
                                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                                    {% if i < 4 %}
                                        <hr class="divide13">
                                    {% endif %}
                                    {% if i == 4 %}
                                        <hr class="divide13 visible-md-block visible-lg-block space-only">
                                        <hr class="divide10 visible-xs-block visible-sm-block space-only">
                                    {% endif %}

                                </div>
                            {% endfor %}


                            <div class="col-sm-4 col-md-9">
                                <a target="_blank" href="http://getemonside.us16.list-manage.com/subscribe?u=19a286b6a701993a54be44c9b&id=dc1298a714">
                                    <img src="{{networkData.templatePath}}/static/images/short-side-newsletter-cta.png">
                                </a>
                            </div>

                            <hr class="divide13 visible-xs-block space-only">

                            

                        </div>
                        {% endif %}

                    </div>

                </div>

                <!-- most popular & wide card for desktop, mobile -->
                <div class="row popular">
                    <div class="col-sm-4 col-md-3 most-popular">
                        <h2>What you&rsquo;re cheering for</h2>

                        {% for i in 0..4 if popularArticles[i] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: popularArticles[i], 
                                    imageSuppress: true, 
                                    containerClass: 'card-popular'
                                }) | raw}}
                        {% endfor %}
                    </div>


                    <!-- wide card for desktop & mobile -->
                    <div class="col-sm-9 col-md-3 tablet-space">
                        <!-- Card 2 -->
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:300},
                                containerClass: 'card-sm-wide card-rec-tablet card-rec-mobile '
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}
                    </div>
                </div>
            </section>

            <div class="advert ad-banner">
                <div id='bannerAd10'></div>
                <script>loadNextAd(invSpace,'bannerAd10','bannerad',bannerSize,bannerMap)</script>
            </div>


            <section class="middle">
                   
                <div class="row row-space maincards">
                    <div class="col-sm-9 col-md-6">
                        {% for i in 0..5 if articles[articleCount] %}
                            <!-- Card 11-16 -->

                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:300},
                                containerClass: 'card-rec card-rec-tablet card-rec-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            
                            <hr class="divide18 visible-md-block visible-lg-block space-only">
                            <hr class="divide10 visible-xs-block visible-sm-block space-only">

                        {% endfor %}
                    </div>



                    <!--  display side stories for desktop   -->
                    <div class="col-sm-9 col-md-3">

                        <div class="advert" >
                                <div id='hPageAd1'></div>
                                <script>loadNextAd(invSpace,'hPageAd1','halfAd',hPageSize,hPageMap);</script>
                        </div>

                        <hr class="divide18 visible-md-block visible-lg-block space-only">
                        <hr class="divide10 visible-xs-block space-only">


                        {% for i in 0..2 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:300},
                                containerClass: 'feature-side card-rec-tablet feature-side-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            
                            {% if i != 2 %}
                                <hr class="divide18 visible-md-block visible-lg-block">
                                <hr class="divide10 visible-xs-block visible-sm-block space-only">
                            {% endif %}
                        {% endfor %}

                    </div>

                    

                    <!-- mobile displays three more wide cards -->
                    <!-- using desktop count until design is fixed! -->
{#                     <div class="col-sm-8 visible-xs-block">

                        {% for i in 0..2 if articles[articleCount] %}

                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:300},
                                containerClass: 'card-rec card-rec-tablet card-rec-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            
                            <hr class="divide18 visible-md-block visible-lg-block space-only">
                            <hr class="divide10 visible-xs-block visible-sm-block space-only">

                        {% endfor %}

                    </div> #}


                </div>


{#                 {{ this.render('partials/ajaxarticles.twig', {
                    limit: limit, 
                    non_pinned: articlesArr.existingNonPinnedCount, 
                    articles: articles,
                    card_style: "card-rec card-rec-tablet card-rec-mobile",
                    container:"mainAjaxArticles",
                    loadtype: "search",
                    border: "none"
                }) | raw }}
 #}

            </section>



            <div class="advert ad-banner">
                <div id='bannerAd2'></div>
                <script>loadNextAd(invSpace,'bannerAd2','bannerad',bannerSize,bannerMap)</script>
            </div>
           




            {% if sections['social field'].feed.articles|length > 0 %}
                {% set socialCount = (dev) ? articleCount : 0 %}

                <section>
                    <div class="row">
                        <div class="col-sm-9 section-header">
                            <div class="hk social">
                                <h2>social field</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="row four-cols socialhide one-deck">
                        {% for i in 0..11 if sections['social field'].feed.articles[socialCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['social field'].feed.articles[socialCount], 
                                imageSize: {width:300},
                                containerClass: 'col-sm-1 card-sm feature-side-mobile with-space'
                            }) | raw}}
                            {% set socialCount = (dev) ? articleCount : socialCount + 1 %}
                        {% endfor %}
                    </div>
                    <a class="showMoreArticles" 
                        data-container=".socialhide"
                        href="#">Show more</a>


                </section>
            {% endif %}







            {% if sections['afl'].feed.articles|length > 0 %}
                {% set aflCount = (dev) ? articleCount : 0 %}

                <section>
                    <div class="row">
                        <div class="col-sm-9 section-header">
                            <div class="hk">
                                <h2>afl</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="row four-cols one-deck">
                        {% for i in 0..3 if sections['afl'].feed.articles[aflCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['afl'].feed.articles[aflCount], 
                                imageSize: {width:300},
                                containerClass: 'col-sm-1 card-sm feature-side-mobile with-space'
                            }) | raw}}
                            {% set aflCount = (dev) ? articleCount : aflCount + 1 %}
                        {% endfor %}

                    </div>
                </section>
            {% endif %}





            {% if sections['nrl'].feed.articles|length > 0 %}
                {% set nrlCount = (dev) ? articleCount : 0 %}

                <section>
                    <div class="row">
                        <div class="col-sm-9 section-header">
                            <div class="hk">
                                <h2>nrl</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="row four-cols one-deck">
                        {% for i in 0..3 if sections['nrl'].feed.articles[nrlCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['nrl'].feed.articles[nrlCount], 
                                imageSize: {width:300},
                                containerClass: 'col-sm-1 card-sm feature-side-mobile with-space'
                            }) | raw}}
                            {% set nrlCount = (dev) ? articleCount : nrlCount + 1 %}
                        {% endfor %}

                    </div>
                </section>
            {% endif %}





            {% if sections['football'].feed.articles|length > 0 %}
                {% set sportCount = (dev) ? articleCount : 0 %}

                <section>
                    <div class="row">
                        <div class="col-sm-9 section-header">
                            <div class="hk">
                                <h2>football</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="row four-cols one-deck">
                        {% for i in 0..3 if sections['football'].feed.articles[sportCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['football'].feed.articles[sportCount], 
                                imageSize: {width:300},
                                containerClass: 'col-sm-1 card-sm feature-side-mobile with-space'
                            }) | raw}}
                            {% set sportCount = (dev) ? articleCount : sportCount + 1 %}
                        {% endfor %}

                    </div>
                </section>
            {% endif %}
        </div>


    

    </main><!-- .site-main -->