{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set layout      = blogData.layout %}


{{this.registerJs("CardController();")}}

{% set limit = 30 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set popularArticles = _Article.getPopularArticles({ limit: 10, sortBy: 'VIEWS', scope: 'network' }) %}



{% set events = _Event.getEvents() %}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 7 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


{% set sections =  {
        "social": {
            "feed": "",
            "link": "",
            "limit" : 10
        }, 
        "trivia": {
            "feed": "",
            "link": "",
            "limit" : 10
        }
    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed': _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}),
                    'link' : blog.url
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}











    <main id="main" class="site-main" role="main">
        
        <div class="container">

            <section class="home-main-stories">
                

                <div class="row">
                    
                    <div class="col-xs-9 col-sm-6">

                        {% if articles[articleCount] %}                                                                
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:630, height:413},
                                containerClass: 'home-feature home-feature-tablet home-feature-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                        {% endif %}



                        <div class="row popular two-cols">
                            <div class="col-sm-1 col-md-1 most-popular">
                                <h2>What you&rsquo;re cheering for</h2>

                                {% for i in 0..4 if popularArticles[i] %}
                                        {{this.render('partials/_single-article.twig', {
                                            article: popularArticles[i], 
                                            imageSuppress: true, 
                                            containerClass: 'card-popular'
                                        }) | raw}}
                                {% endfor %}
                            </div>


                            <div class="col-sm-1 col-md-1">

                                {% if articles[articleCount] %}
                                    {{this.render('partials/_single-article.twig', {
                                        article: articles[articleCount], 
                                        position: articleCount + 1, 
                                        imageSize: {width:190},
                                        containerClass: 'card-sm-wide card-sm-mobile'
                                    }) | raw}}
                                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                                {% endif %}
                            </div>
                        </div>



                    </div>








                    {% if articles[articleCount] %}
                    <div class="col-xs-9 col-sm-3">

                        <hr class="divide10 visible-xs-block" style="clear:both">


                        {% for i in 0..4 if articles[i] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                containerClass: 'feature-side feature-side-tablet feature-side-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            {% if i < 4 %}
                                <hr class="divide15 visible-md-block visible-lg-block">
                                <hr class="divide10 visible-xs-block visible-sm-block">
                            {% endif %}

                        {% endfor %}

                        <hr class="divide15 visible-md-block visible-lg-block space-only">
                        <hr class="divide10 visible-xs-block visible-sm-block space-only">

                        <div class="advert visible-md-block visible-lg-block">
                            <img src="{{networkData.templatePath}}/static/images/the-short-side-cta.png">
                        </div>



                    </div><!-- .col-->
                    {% endif %}

                </div>
            </section><!-- .featured-slider-->




            <section class="middle">
                   

                <div class="row row-space maincards">
                    <div class="col-sm-6">
                        {% for i in 0..5 if articles[articleCount] %}

                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:300},
                                containerClass: 'card-rec card-rec-tablet card-rec-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            
                            <hr class="divide visible-xs-block">

                        {% endfor %}


                    </div>



                    <div class="col-sm-3">

                        <div class="advert visible-md-block visible-lg-block ad-large-vert">
                            <img src="{{networkData.templatePath}}/static/images/ads/300x600.jpg">
                        </div>

                        <hr class="divide18 visible-md-block visible-lg-block space-only">
                        <hr class="divide10 visible-xs-block visible-sm-block space-only">


                        {% for i in 0..3 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: articleCount + 1, 
                                imageSize: {width:95},
                                containerClass: 'feature-side feature-side-tablet feature-side-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            

                            {% if i != 3 %}
                                <hr class="divide18 visible-md-block visible-lg-block">
                                <hr class="divide10 visible-xs-block visible-sm-block">
                            {% endif %}
                        {% endfor %}





                    </div>
                </div>


                {{ this.render('partials/ajaxarticles.twig', {
                    limit: limit, 
                    non_pinned: articlesArr.existingNonPinnedCount, 
                    articles: articles,
                    card_style: "col-sm-12 card-search card-search-mob",
                    container:"mainAjaxArticles",
                    loadtype: "search"
                }) | raw }}


            </section>




            <section class="advert" style="background:gray;height:100px;"></section>

        </div>



        <div class="container">


           {% if articles[articleCount] %}
                {% set ruralCount = (dev) ? articleCount : 0 %}

                <section>
                    <div class="row">
                        <div class="col-sm-9 section-header">
                            <div class="hk">
                                <h2>delete this block</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="row four-cols">
                        {% for i in 0..3 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                imageSize: {width:300},
                                containerClass: 'col-sm-1 card-sm feature-side-mobile'
                            }) | raw}}
                            {% set ruralCount = (dev) ? articleCount : ruralCount + 1 %}
                            {% if i < 2 %}
                                <hr class="divide visible-xs-block">
                            {% endif %}
                        {% endfor %}

                    </div>
                </section>
            {% endif %}


            {% if sections['trivia'].feed.articles|length > 0 %}
                {% set ruralCount = (dev) ? articleCount : 0 %}

                <section>
                    <div class="row">
                        <div class="col-sm-9 section-header">
                            <div class="hk">
                                <h2>trivia</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="row four-cols">
                        {% for i in 0..3 if sections['trivia'].feed.articles[ruralCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['trivia'].feed.articles[ruralCount], 
                                imageSize: {width:300},
                                containerClass: 'col-sm-1 card-sm feature-side-mobile'
                            }) | raw}}
                            {% set ruralCount = (dev) ? articleCount : ruralCount + 1 %}
                            {% if i < 2 %}
                                <hr class="divide visible-xs-block">
                            {% endif %}
                        {% endfor %}

                    </div>
                </section>
            {% endif %}


        </div>


    </main><!-- .site-main -->